.stars {
    position: relative;
    white-space: nowrap;
}
.overlay {
    background: #fff;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
}

svg {
    fill: gold;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  /* @media (max-width:767px){
    .run{
      width: 100%;
      margin-left: 13px;
    }
    .run2{
      width: 100px;
      margin-left: 30px;
    }
  
      } */